.Button{
    padding: 20px;
    font-size: 24px;
    background-color: #0052cc;
    color: white;
    border-radius: 10px;
    float: right;
}
.Button:hover
{
    background-color: #003399;
    transition-duration:1s;
    
}

.InputSaver
{
    padding: 20px;
   
    font-size: 24px;
    border-radius: 10px;
    
   
}


.Input_Button
{
    
    margin: auto;
    margin-top: 5%;
    
  width: 50%;
  border: 3px solid #a3a3a3
  ;
  padding: 10px;
  background-color: #a3a3a3;
  border-radius: 15px;
   
    
}
h1{
    font-size: 40px;
    color: black ;
    
}

body
{
    background-color: #002966;
}
.center
{
    margin: auto;
    width: 36%;
    border: 3px solid #a3a3a3;
    padding: 10px;
    
    
}

label
{
    font-size: 25px;
    font-weight: bold;
}
.btn 
{
    padding: 3%;
}

.Viewer
{
    padding: 20%;
    border: 3px solid #a3a3a3;
    width: 60%;
}

p
{
    font-size: 20px;
    font-weight: bold;
}